<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" matTooltipClass="my-tooltip" matTooltip="{{this.showAllLikers()}}"
      (click)=likeComment(true)>
      <mat-icon aria-label="Like" matBadge="{{this.allLikes()}}" [matBadgeHidden]="this.allLikes() === 0"
        matBadgeSize="small">
        favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn" matTooltipClass="my-tooltip" matTooltip="{{this.showAllDislikers()}}"
      (click)=likeComment(false)>
      <mat-icon aria-label="Dislike" matBadge="{{this.allDislikes()}}" [matBadgeHidden]="this.allDislikes() === 0"
        matBadgeSize="small">
        thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>